<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          #txtTermino
          (keyup)="buscar(txtTermino.value)"
          type="text"
          class="form-control"
          placeholder="Buscar por nombre..."
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-primary text-center" role="alert">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <hr />
      <p class="mb-0">Espere un momento por favor</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Lista de usuarios</h4>
        <h6 class="card-subtitle">
          Usuarios registrados ({{ totalUsuarios }})
        </h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Imagen</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w140">Rol</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td class="text-center">
                  <img [src]="usuario.imagenUrl" alt="imagen" class="avatar" />
                </td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>
                  <select class="form-control" [(ngModel)]="usuario.role" (change)="cambiarRol(usuario)">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td>
                  <span *ngIf="usuario.google" class="label label-warning"
                    >Google</span
                  >
                  <span *ngIf="!usuario.google" class="label label-info"
                    >Email</span
                  >
                </td>

                <td class="text-nowrap text-center">
                  <a
                    class="cursor"
                    (click)="borrar(usuario.uid)"
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="txtTermino.value.length === 0">
            <button (click)="cambiarPagina(-5)" class="btn btn-outline-secondary">
              Anterior
            </button>
            &nbsp;
            <button (click)="cambiarPagina(5)" class="btn btn-primary">
              Siguiente
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
